.navbar-inverse {
	background-color: #33B1FF;
}
.navbar-inverse .navbar-brand{
	padding-left: 0px;
	padding-right: 2em;
	padding-top: 1em;
	color: #000000;
	font-size: 2em;
}
.navbar-inverse .navbar-nav>li>a{
	color: #000000;
}
.navbar-toggler.navbar-toggler-right{
	padding: 0.5em;
	background-color: #808080;
}
a{
  color: #000000;
}

body{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #6d18db;
}
table{
	border: 1px solid #000000;
	border-collapse: collapse;
	width: 100%;
}
th, td{
	border: 1px solid #000000;
	text-align: center;
}
.backColour{
	border: 1px solid #000000;
	border-radius: 15px;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 1em;
	background-color: #33B1FF;
}

footer{
	color: #000000;
}