extends layout

block content
	div.backColour
		.row.banner
			.col-12
				h1= title
		.row
			.col-12.col-lg-8
				p
					| Project was created to allow people to book a class to attend.
					| <br /><br />
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nunc sed lorem ac nisi dignissim accumsan.
					Nullam sit amet interdum magna.
					Morbi quis faucibus nisi.
					Vestibulum mollis purus quis eros adipiscing tristique.
					Proin posuere semper tellus, id placerat augue dapibus ornare.
					Aenean leo metus, tempus in nisleget, accumsan interdum dui.
					Pellentesque sollicitudin volutpat ullamcorper.