extends layout

block content
	.row.banner
		.col-12
			h1= title
	.row
		.col-12.col-lg-8
			p
				| Enter your information to book a class.
				br
				br
				br
			form
				label Select your ID:
				br
				select#id(name='id')
					option 1
					option 2
					option 3
				br
				br
				
				label Enter your first name:
				br
				input#firstName(type='text', name='firstName')
				br
				br
				
				label Enter your second name:
				br
				input#secondName(type='text', name='secondName')
				br
				br