extends layout

block content
	div.backColour
		.row.banner
			.col-12
				h1= title
		.row
			.col-12.col-lg-8
				p
					| Enter your information to book a class.
					br
					br
					br
				form
					label Enter your ID:
					br
					input#id(type='text', name='id')
					br
					br
					
					label Enter your Name:
					br
					input#memberName(type='text', name='memberName')
					br
					br
					
					label Select a Class:
					br
					//change to select options from database
					input#class(type='text', name='class')
					br
					br
					
					label Select a Date:
					br
					input#date(type='date', name='date')
					br
					br
					
					label Select a Time:
					br
					//change to times available
					input#time(type='text', name='time', placeholder='00:00')
					br
					br
					input#submitBtn(type='button', value='Submit')
