extends layout

block content
	div.backColour
		.row.banner
			.col-12
				h1= title
		.row
			.col-12.col-lg-8
				p
					| Enter your information to view a class you have booked.
					br
					br
					br
					
				form
					label Enter your Member ID:
					br
					input#id(type='text', name='id')
					br
					br
					
				table.custab
					tr
						th Member ID
						th Member Name
						th Class Name
						th Class Length(hours)
						th Date
						th Time
					tr
						th 1
						th Liam
						th Yoga
						th 1
						th 01/01/2000
						th 12:00
					tr
						th= +bookings.id
						th= +bookings.memberName
						th= +bookings.className
						th= +bookings.classLength
						th= +bookings.date
						th= +bookings.time
					tr
						th 3
						th Mike
						th Jumping Jacks
						th 0.5
						th 14/10/23
						th 13:00